.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  margin: 10px 10px 10px  ;
  align-items: center;
}

.flex-vertical {
    flex-direction: column;
  margin: 10px 10px 10px  ;
  display: flex;
}

.flex-grid {
    flex-flow: row wrap;
  width: 900px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  flex-direction: space-between;  /* <--- Really freaking cool! */
  align-items: center;
}

.flex1 {
  -webkit-flex: 1;
          flex: 1;
}
.flex2 {
  -webkit-flex: 2;
          flex: 2;
}
.joystick {
    background:gray;
}


.hide {
    display: none;
}
.button {
    background: #6e747d;
  background-image: -webkit-linear-gradient(top, #6e747d, #161d21);
  background-image: -moz-linear-gradient(top, #6e747d, #161d21);
  background-image: -ms-linear-gradient(top, #6e747d, #161d21);
  background-image: -o-linear-gradient(top, #6e747d, #161d21);
  background-image: linear-gradient(to bottom, #6e747d, #161d21);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

  border: 1px solid #fff;
  height: 50px;
  flex: 1;

}

.lbl {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

input {
    padding: 8px ;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

input.vertical {
	-webkit-appearance: slider-vertical;
	writing-mode: bt-lr;
}
.linkindicator{
    width:16px;
    height: 8px;
    background:black;
}


.linkon{
    background:green;
}
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
height: 75%;
width: 100%;
}

#textMeters{
width:20pt;
}
/* Optional: Makes the sample page fill the window. */
html, body {
height: 100%;
margin: 8;
padding: 0;
    background: #badee6;

}